:host {
    ion-content {
        --background: var(--ion-color-light);
    }
    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }
    ion-card {
        &.no-radius {
            border-radius: 0;
        }
    }
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: initial;
    overflow-x: auto;
    .card {
        flex: 0 0 auto;
    }
}

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 100px;
    text-decoration: none;
}

img1 {
    border: 2px solid #BA55D3;
    border-radius: 50%;
    padding: 5px;
    width: 50px;
    background-color: #4B0082;
    box-shadow: 1px 1px 1px 1px yellow;
}

.card {
    background: #1E90FF;
    border-radius: 50%;
    display: inline-block;
    height: 50px;
    border: 1px solid #fff;
    padding: 7px;
    margin: 1rem;
    position: relative;
    width: 50px;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

div.scrollmenu a:hover {
    background-color: #777;
}

.scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
}

.container {
    display: flex;
    overflow-x: auto;
}

#map_canvas {
    width: 90%;
    height: 80%;
    border: 1px solid red;
}

#address {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

#map {
    width: 100%;
    height: 70vh;
}

.map-wrapper {
    position: relative;
    #map_center {
        position: absolute;
        z-index: 99;
        height: 40px;
        width: 40px;
        top: 50%;
        left: 50%;
        margin-left: -21px;
        margin-top: -41px;
    }
}