<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button color="secondary"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <ion-text color="light">
                <ion-text color="light" class="fw700">دعوت از دوستان</ion-text>
            </ion-text>
        </ion-title>
    </ion-toolbar>
    <ion-toolbar color="dark">
    </ion-toolbar>




</ion-header>

<ion-content padding>

<div  padding-horizontal text-center>
    <ion-button onclick="window.plugins.socialsharing.share('Message only')">share</ion-button>
    <form class="list-form" >
        <ion-item>
            <ion-label>kode davat ro bezan jaize begir</ion-label>
            <ion-input color="secondary" max=11 [(ngModel)]="code" type="string" name="codeShare"></ion-input>

        </ion-item>
        <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="invitedFriend()" tappable>
        تایید
        </ion-button>
    </form>
</div>

</ion-content>
